.page__content{
    padding: 3vw;
}
.banner{
    position: relative;
}
.banner1__content{
    position: absolute;
    bottom: 2vw;
    color: white;
    left:2vw;
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);;
}
.animal-filter__form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2vw;
}
.animal{
    border: 1px solid #29aae2;
    padding: 2vw;
    margin-bottom: 2vw;
}

.animal__info{
    margin-top: 2vw;
}
.animal-list__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.animal__info__value{
    font-size: large;
}
.animal__info__label{
    font-weight: 700;
}