.home{
	display: flex;
	flex-direction: column;
}
/* gallery start here */
.gallery{
	display: flex;
	flex-wrap: wrap;
	
}
.mybtn{
	border-radius: 5% !important;
	height: 4vw;
	width: 8vw;
	color: #0076bb !important;
}
.gallery-img{
	display: flex;
	flex: 1;
	width:400px;
	height: 300px ;
	position: relative;
}

.event_each_item{
	margin-bottom: 5vw;
}
.gallery-img>img{
	width:100%;
	height: 100%;
}

.gallery_btn{
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translate(-50%);
}
@media (max-width:750px) {
	.gallery{
		flex-direction: column;
	}
	.gal_750{
		display: flex;
		
	}
	.second{
		width: 100%;
		display: flex;
		
	}
	.event_each_item{
		width: 48vw;
	}

}
@media (max-width:375px) {
	.gallery{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		
	}
	
	.gal_750{
		display: flex;
		flex-direction: column;
	}
	.gallery-img{
		height:20vh;
		width: 100vw;
	}
	
	.box-block__image{
		width: 100%;
	}
	.who-we-are__boxes{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	
	}
	.box-block{
		
		width: 100vw;
	}
	.event_each_item{
		width: 100vw;
	}
}
/* who we are start here */
.who-we-are__headline,.events__headline{
	color: #0076bb;
    font-family: Source Sans Pro,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 700;
    margin-bottom: .88889rem;
    margin-top: .88889rem;
	text-align: center;
}

.who-we-are__description{
	padding:10px;
}
.who-we-are__boxes{
	display: flex;
	
	justify-content: space-between;
}
.box-block__image{
	max-width: 100%;
}
.box-block__links{
	display: flex;
	justify-content: center;
}
/* upcoming event start here */
.section--events{
	display: flex;
	
	flex-direction: column;
}
.events__list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


